# Maven / Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Environnement
.env
*.log

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store

# Frontend
node_modules/
dist/
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
